:root {
    --main-font: 'Roboto', sans-serif;

    --bg-color: #FFFFFF;
    --dark-bg-color: #2F303A; 
    --light-bg-color: #F5F5F5;
    --gray-bg-color:#F5F4FA;
    --text-color:#212121;
    --logo-black-color:#000000;
    --light-text-color: #757575;
    --accent-text-color:#FFFFFF;
    --footer-text-color:rgba(255, 255, 255, 0.6);
   
    --accent-color: #2196F3;
    --active-color: #188CE8;

    --header-border-color: #ECECEC;

    --border-color:rgba(238,238,238,1)
}